<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
	    <title>Login</title>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1" />
	    <link rel="stylesheet" href="/resources/templates/templated-hielo/assets/css/main.css"/>
	    
	    
	</head>

	<body class="subpage">
		<header id="header">
				<div class="logo"><a href="index.html">Take a Flight <span>version 0.3</span></a></div>
				<a href="#menu">Menu</a>
			</header>
			
			<nav id="menu">
				<ul class="links">
					<li><a href="index.html">Home</a></li>
					<li><a href="generic.html">Login</a></li>
					<li><a href="elements.html">Reservas</a></li>
				</ul>
			</nav>
		
		<div id="main" class="container">
        	<a class="button special" th:href="@{/login}" >Login</a>
        	<a class="button" th:href="@{/usuario/}" >Cadastro</a>
      	</div>

		<script th:src="@{/webjars/jquery/jquery.min.js}"></script>

		<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	</body>
</html>