
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Cadastre-se</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="../static/css/main.css" type="text/css" th:href="@{/css/main.css}" rel="stylesheet"/>
</head>

<body class="subpage">

	<header id="header">
		<div class="logo"><a th:href="@{/home}">Take a Flight <span>versão 0.4</span></a></div>
	</header>
	
	<section id="One" class="wrapper style3">
		<div class="inner">
			<header class="align-center">
				<p>Take a Flight</p>
				<h2>Cadastre-se</h2>
			</header>
		</div>
	</section>
	
	<section id="two" class="wrapper style2">
		
		<div class="box">
			<div class="content">
				<div class="row uniform">
					<form autocomplete="off" action="#" th:action="@{/usuario/new}"
				  		  th:object="${usuario}" method="post" class="form-horizontal" role="form">
				  
						<h3>Preencha os dados abaixo corretamente</h3>
						<div class="9u 12u$(small)">
							<label th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"
									class="validation-message"></label>
							<input id="nome" type="text" th:field="*{nome}" placeholder="Nome" />
						</div>

						<div class="9u 12u$(small)">
							<label	th:if="${#fields.hasErrors('login')}" th:errors="*{login}"
									class="validation-message"></label>
								<input type="text" th:field="*{login}" placeholder="Login" /> 
						</div>
						
						<div class="9u 12u$(small)">
							<input type="date" th:field="*{dataNascimento}" th:value="*{dataNascimento}" placeholder="Data de Nascimento" /> 
							<label th:if="${#fields.hasErrors('dataNascimento')}" th:errors="*{dataNascimento}"
								class="validation-message"></label>
						</div>
						
						<div class="9u 12u$(small)">
							<input type="text" th:field="*{cpf}" placeholder="CPF"/> 
							<label th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}"
								class="validation-message"></label>
						</div>
						
						<div class="9u 12u$(small)">
							<input type="password" th:field="*{senha}" placeholder="Senha"/> 
							<label th:if="${#fields.hasErrors('senha')}" th:errors="*{senha}"
								class="validation-message"></label>
						</div>

						<ul class="actions">
							<li><button type="submit" class="button special">Registrar</button></li>
							<li><a th:href="@{/login}" class="button alt"> <-Login </a></li>
						</ul>
					
						<span th:utext="${successMessage}"></span>
					
					
					</form>
				</div>
			</div>
		</div>
	</section>

</body>
</html>